<ul class='list-unstyled'>
  <li ng-repeat="items in todo.undone track by $index">
    <h4>
      <label>
        <button ng-click="todo.addToFinished(items)" type='button' class='btn btn-default btn-xs'>▢</button>
        <span>
          {{items.item}}
          (due @ {{items.due | date:'MM-dd'}})
        </span>
      </label>
    </h4>
  </li>
  <li ng-repeat="items in todo.done track by $index">
    <h4>
      <label>
        <input type='checkbox' checked disabled="disabled">
        <span class="text-muted">
          {{items.item}}
          (done @ {{items.done | date:'MM-dd'}})
        </span>
      </label>
    </h4>
  </li>
</ul>
<button class='btn btn-xs btn-default' type="button" ng-show='todo.done.length' ng-click="todo.finished()">clear all finished</button>
